{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="header-container">
        <h1 class="page-header">{% block page-header %}Social Automation Dashboard{% endblock %}</h1>
        {% include "avatar.html" %}
    </div>

    <div class="page-container">

        {% include "nav-bar.html" %}

        <div class="page-content">
            {% block page-content %}
                <h2>Welcome!</h2>

                <div>
                    One day there will be a meaningful dashboard here including commonly used tasks and a history of
                    execution. That day is not today.<br><br>
                    Click a social network on the left to get started.
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}
