{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="login-container">
        <h1 class="login-header">Social Automation by <img class="logo-h1" src="/static/images/spigotlabs.png"></h1>

        <div class="button-container">
            <a href="/auth/login/twitter" class="login-button twitter">
                <i class="fa fa-twitter"></i>Login with Twitter
            </a>
        </div>
        <div class="button-container">
            <a href="/auth/login/facebook" class="login-button facebook">
                <i class="fa fa-facebook"></i>Login with Facebook
            </a>
        </div>
        <div class="button-container">
            <a href="/auth/login/linkedin-oauth2" class="login-button linkedin">
                <i class="fa fa-linkedin"></i>Login with LinkedIn
            </a>
        </div>
    </div>
{% endblock %}
