{% extends "base.html" %}

{% block title %}Twitter Email Verification{% endblock %}

{% block head %}
    <style>
        .login-container {
            margin-top: 40px;
            padding: 0 20px;
        }

        .logo-h1 {
            height: 60px;
            vertical-align: top;
            margin-top: -23px;
        }

        .button-container {
            margin-bottom: 30px;
        }

        .login-button, .login-button:visited {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            color: white;
            border-radius: 10px;
        }

        .login-button.google {
            background-color: #580000;
        }

        .login-button.twitter {
            background-color: #00ACEE;
        }

        .login-button:hover {
            text-decoration: underline;
        }

        .login-button i.fa {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="login-container">
        <h1>Welcome, {{ name }}!  To associate your twitter account with your other social profiles, please enter your email address.</h1>

        <form method="post" role="form">
            {% csrf_token %}
            <label>Email</label>
            <input type="text" name="email">
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
