$google-color: #580000;
$twitter-color: #00ACEE;
$facebook-color: #3B5998;
$linkedin-color: #0077B5;
$text-color: #777;
$link-color: #0000ff;

body {
  padding: 0;
  margin: 0;
  font-family: 'Carrois Gothic', sans-serif;
  color: $text-color;
}

a:active, a:visited {
  color: $link-color;
}

h1 {
  padding: 0;
  margin: 0;
}

i.fa {
  margin-right: 10px;
}

.header-container {
  display: flex;

  .page-header {
    flex: 1;
    padding: 40px;
  }

  .avatar-container {
    padding: 40px 20px;
  }
}

.page-container {
  display: flex;
}

.nav-bar {
  font-size: 2em;

  a {
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    color: $text-color;

    &:hover {
      text-decoration: underline;
    }

    &.twitter.selected {
      background-color: $twitter-color;
      color: white;
    }

    &.twitter:not(.selected) {
      color: $twitter-color;
    }

    &.facebook.selected {
      background-color: $facebook-color;
      color: white;
    }

    &.facebook:not(.selected) {
      color: $facebook-color;
    }

    &.linkedin.selected {
      background-color: $linkedin-color;
      color: white;
    }

    &.linkedin:not(.selected) {
      color: $linkedin-color;
    }
  }
}

.page-content {
  padding-left: 40px;
}

.login-container {
  margin-top: 40px;
  padding: 0 20px;

  h1 {
    margin-bottom: 20px;
  }
}

.logo-h1 {
  height: 60px;
  vertical-align: top;
  margin-top: -23px;
}

.button-container {
  margin-bottom: 30px;
  .login-button, .login-button:visited {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    &.google {
      background-color: $google-color;
    }
    &.twitter {
      background-color: $twitter-color;
    }
    &.facebook {
      background-color: $facebook-color;
    }
    &.linkedin {
      background-color: $linkedin-color;
    }
  }
}

.form-element {
  margin-top: 20px;
}